img {
    max-height: 200px;
    max-width: 200px;
    width: auto;
    height: auto;
}

.button-stack {
    padding-right: 1em;
    padding-left: 1em;
}
.img-description {
    padding: .5em;
}


.image-container {
    height: 200px;
    width: 200px;
    margin-bottom: 1em;
}